/*-------------------------------------------------------------------

    ***ONLY MINIFIED VERSION IS REFERENCED IN THEME***

    1) VARIABLES
    2) COMPONENTS
    3) ELEMENTS
    4) PRIMARY NAVIGATION
    6) FOOTER
    7) PAGE LAYOUTS / PAGE TEMPLATES
    8) SIDEBAR / WIDGETS
    11) BLOG / ARCHIEVE / CATEGORIES
    12) SINGLE POST
    13) STYLEGUIDE
    14) 404 / ERROR PAGE
    ...
    X) RESPONSIVNESS BREAKING POINTS

-------------------------------------------------------------------*/

@charset "utf-8";
/*-------------------------------------------------------------------
    VARIABLES
-------------------------------------------------------------------*/

:root {
	--WhiteColor: #ffffff;
	--LGreyColor: #dbdbdb;
	--GreyColor: #dcdcdc;
	--BlackColor: #000000;
	--PrimaryColor: #24CE5F;
	--SecondaryColor: #0C8732;
	--TertiaryColor: #00B59A;
	--HighlightColor: #C5E300;
}

/*-------------------------------------------------------------------
    COMPONENTS
-------------------------------------------------------------------*/

html,
body {
	font-size: 16px;
	margin: 0 !important;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

* {
	box-sizing: border-box;
	transition: all .25s ease-in-out 0s;
}

/*-----------------------------------------
      TYPOGRAPHY
-----------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6,
.widget h1,
.widget h2,
.widget h3,
.widget h4,
.widget h5,
.widget h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	line-height: 1.35;
	color: var(--BlackColor);
	margin: 1.25em 0 .25em 0;

	@nest .block--dark & {
		border-color: var(--WhiteColor);
		color: var(--LGreyColor);
	}
}

h1,
.widget h1 {
	font-size: 3.75rem;
	color: var(--WhiteColor);
	letter-spacing: -1px;
}

h2,
.widget h2 {
	font-size: 2em;
	color: var(--SecondaryColor);
}

h3,
.widget h3 {
	font-size: 1.625em;
}

h4,
.widget h4 {
	font-size: 1.5em;
}

h5,
.widget h5 {
	font-size: 1.125em;
	letter-spacing: 0;
}

h6,
.widget h6 {
	font-size: 1em;
	letter-spacing: 0;
}

p,
a,
ol,
ul {
	color: var(--BlackColor);
	font-size: 1rem;
	line-height: 1.6;
	margin: 0 0 1.25em 0;
	word-wrap: break-word;
	font-weight: 700;

	@nest .block--dark & {
		color: var(--LGreyColor);
	}
}

p {
	@nest &.p--legal {
		font-size: .75rem;

		@nest & a {
			font-size: .75rem;
		}
	}

	@nest & b,
	& strong {
		font-weight: 900;
		color: var(--TertiaryColor);
	}
}

a {
	margin: 0;
	color: var(--PrimaryColor);

	@nest .block--dark & {
		color: var(--PrimaryColor);
	}
}

ul li {
	background-image: url(../images/icon-bullet.svg);
	background-position: left 10px;
	background-repeat: no-repeat;
	background-size: .5rem auto;
	list-style: none;
	margin: 0 0 .5rem 0;
	padding: 0 0 0 1.5rem;
}

hr {
	background: var(--HighlightColor);
	border: none;
	height: 2px;
	margin: 2rem 0;
	width: 100%;
}

blockquote,
q {
	background-image: url(../images/icon-quote.svg);
	background-repeat: no-repeat;
	background-position: top 20px left 10px;
	background-size: 50px auto;
	border: none;
	padding: 15px 25px 15px 75px;
	quotes: none;
	margin: 1.5rem 0;

	@nest & p {
		font-size: 1.125rem;
		font-weight: 300;
		font-style: italic;
		line-height: 1.72;

		@nest &:last-child {
			margin: 0;
		}
	}
}

p.block-quote {
	font-size: 1.125rem;
	font-weight: 300;
	font-style: italic;
	line-height: 1.72;
}

.label {
	font-size: 1.125rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	line-height: 1.7;
	text-transform: uppercase;
}

/*-----------------------------------------
      BLOCKS / SECTIONS
-----------------------------------------*/

.block {
	width: 100%;

	@nest &.block--clearfix {
		@nest &:after {
			content: ".";
			visibility: hidden;
			display: block;
			height: 0;
			clear: both;
		}
	}

	@nest &.block--dark {
		background: var(--BlackColor);
	}

	@nest &.block--flex {
		display: flex;
		flex-wrap: wrap;

		@nest &.block--flex__vcenter {
			align-items: center;
		}

		@nest &.block--flex__hcenter {
			justify-content: center;
		}
	}

	@nest &.block--max {
		max-width: 1200px;
		width: 95%;
		margin: 0 auto;
	}

	@nest &.block--half {
		margin: 0 1% 1rem 1%;
		width: 48%;
	}

	@nest &.block--half-full {
		margin: 0;
		width: 50%;
	}

	@nest &.block--third {
		margin: 0 1% 1rem 1%;
		width: 31.33%;
	}

	@nest &.block--third-full {
		margin: 0;
		width: 33.33%;
	}

	@nest &.block--fourth {
		margin: 0 1% 1rem 1%;
		width: 23%;
	}

	@nest &.block--fourth-full {
		margin: 0;
		width: 25%;
	}
}

.vertical-align {
	display: table;
	text-align: center;
}

.vertical-align__child {
	display: table-cell;
	vertical-align: middle;
}

/*-----------------------------------------
      OVERLAYS
-----------------------------------------*/

.overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	@nest &.overlay--gradient {
		background-image: linear-gradient(53deg, rgba(36, 206, 95, 0.55) 0%, rgba(34, 229, 214, 0.55) 100%);
	}

	@nest &.overlay--black-fade {
		background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, .75) 100%);
	}

	@nest &.overlay--image {
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
	}
}

/*-----------------------------------------
      BUTTONS
-----------------------------------------*/

.btn {
	background: color(var(--SecondaryColor) alpha(40%));
	border: 3px solid var(--HighlightColor);
	border-radius: 50px;
	color: var(--WhiteColor);
	padding: .75em 3em;
	text-decoration: none;
	text-transform: lowercase;
	margin: 0 .5rem 1rem 0;
	display: inline-block;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	outline: none;

	@nest &:hover,
	&:focus {
		background-color: var(--SecondaryColor);
		border-color: var(--HighlightColor);
	}

	@nest &.btn--arrow,
	&.btn--email,
	&.btn--phone,
	&.btn--map,
	&.btn--pdf {
		padding: .75em 2.8em .75em 1.5em;

		@nest & svg {
			max-height: 1.35em;
			max-width: 1.35em;
			display: inline-block;
			vertical-align: middle;
			fill: var(--HighlightColor);
			margin: 0 0 0 .5em;
			position: absolute;
		}
	}

	@nest &.btn--arrow svg {
		max-width: 12px;
		max-height: 12px;
		margin-top: 6px;
	}

	@nest &.btn--pdf svg {
		max-width: 1.75em;
		max-height: 1.75em;
		margin-top: -3px;
		margin-left: .3em;
	}

	@nest &.btn--secondary {
		background: var(--PrimaryColor);
		border-color: var(--PrimaryColor);
		color: var(--BlackColor);

		@nest &:hover,
		&:focus {
			background-color: var(--SecondaryColor);
			border-color: var(--SecondaryColor);
		}

		@nest &.btn--arrow,
		&.btn--email,
		&.btn--phone,
		&.btn--map,
		&.btn--pdf {
			@nest & svg {
				fill: var(--BlackColor);
			}
		}
	}
}

/*-----------------------------------------
      SOCIAL MEDIA
-----------------------------------------*/

.follow-container {
	background: var(--WhiteColor);
	padding: 7rem 0 3rem 0;
	text-align: center;
}

.social-link {
	background-color: var(--PrimaryColor);
	display: inline-block;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	text-align: center;
	padding: 12px;
	margin: 0 .35rem;

	@nest & svg {
		fill: var(--BlackColor);
		max-width: 100%;
		max-height: 100%;
	}

	@nest &:hover svg,
	&:focus svg {
		fill: var(--WhiteColor);
	}
}

/*-----------------------------------------
      FORMS
-----------------------------------------*/

form ul li {
	background-image: none;
	padding: 0;
}

form input,
form input:focus,
form select,
form select:focus,
form textarea,
form textarea:focus {
	appearance: none;
	border: 2px solid var(--GreyColor);
	border-radius: 3px;
	padding: .75rem !important;
	outline: none;
}

form select {
	background-image: url(../images/icon-dropdown.svg) !important;
	background-size: 12px 12px !important;
	background-repeat: no-repeat !important;
	background-position: center right 10px !important;
	margin-top: 0 !important;
	line-height: 1.2 !important;
}

button[type="submit"] {
	cursor: pointer;
	font-size: 1em;
	font-family: 'Poppins', sans-serif;
	transition: all .25s ease-in-out;
}

input[type="radio"],
input[type="radio"]:focus {
	background: transparent;
	border: 2px solid var(--GreyColor);
	border-radius: 50% !important;
	height: 1rem;
	min-width: 1rem;
	padding: 0 !important;

	@nest &:checked {
		background-image: url(../images/icon-bullet.svg) !important;
		background-size: 8px 8px !important;
		background-repeat: no-repeat !important;
		background-position: center !important;
	}
}

input[type="checkbox"],
input[type="checkbox"]:focus {
	background: transparent;
	border: 2px solid var(--GreyColor);
	border-radius: 3px !important;
	height: 1rem;
	min-width: 1rem;
	padding: 0 !important;

	@nest &:checked {
		background-image: url(../images/icon-checkbox.svg) !important;
		background-size: 8px 8px !important;
		background-repeat: no-repeat !important;
		background-position: center !important;
	}
}

form li label {
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
}

form li li label {
	color: #919299;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
}

.gform_wrapper .gfield_required {
	color: var(--BlackColor) !important;
}

.ginput_container_radio,
.ginput_container_checkbox {
	margin-top: 0 !important;
}

.gform_wrapper * {
	transition: none;
}

.gform_wrapper ul.gfield_checkbox li input[type=checkbox]:checked+label,
.gform_wrapper ul.gfield_radio li input[type=radio]:checked+label {
	font-weight: inherit !important;
}

.gform_wrapper .validation_message {
	display: none !important;
}

.gform_wrapper li.gfield.gfield_error,
.gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
	border: none !important;
	padding: 0 16px 0 0 !important;
	background-color: transparent !important;
	margin-bottom: 0px !important;
}

.gform_wrapper.gf_browser_chrome .gfield_error input[type=email],
.gform_wrapper.gf_browser_chrome .gfield_error input[type=number],
.gform_wrapper.gf_browser_chrome .gfield_error input[type=password],
.gform_wrapper.gf_browser_chrome .gfield_error input[type=tel],
.gform_wrapper.gf_browser_chrome .gfield_error input[type=text],
.gform_wrapper.gf_browser_chrome .gfield_error input[type=url],
.gform_wrapper.gf_browser_chrome .gfield_error select,
.gform_wrapper.gf_browser_chrome .gfield_error textarea,
.gform_wrapper.gf_browser_chrome li.gfield_error.field_sublabel_above .ginput_complex input[type=text] {
	margin-bottom: 0 !important;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container {
	margin-top: 8px !important;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
	margin-top: 0 !important;
}

.gform_wrapper .gfield_error .gfield_label {
	color: inherit !important;
}

.gform_wrapper .top_label li.gfield.gfield_error.gf_left_half {
	margin-right: 0 !important;
}

.LV_invalid_field {
	border: 2px solid #d46a77 !important;
}

.LV_valid_field {
	border: 2px solid #24ce5f !important;
}

.LV_validation_message {
	display: block;
}

#gform_fields_3 {
	column-count: 1;
}

#field_3_3 {
	margin-top: 0;
}

#field_3_7 {
	width: 50%;
	display: inline-block;

	@nest & .ginput_container>input {
		width: 100%;
	}
}

#field_3_8 {
	width: 50%;
	display: inline-block;
}

#input_3_15 {
	height: 14em;
}

div[id*="ajaxsearchliteres"].vertical {
	background: var(--HighlightColor) !important;
	border-radius: 3px !important;
	padding: 2px !important;
}

div[id*="ajaxsearchliteres"] .results .item {
	background: var(--BlackColor) !important;
	padding: .5rem !important;
}

div[id*="ajaxsearchliteres"] .results .item .asl_content h3,
div[id*="ajaxsearchliteres"] .results .item .asl_content h3 a {
	color: var(--PrimaryColor) !important;
}

div[id*='ajaxsearchliteres'] .results .item .asl_content .asl_desc {
	color: var(--WhiteColor);
	letter-spacing: 1px;
}

div[id*='ajaxsearchliteres'].vertical .results .asl_spacer:last-child {
	display: none;
}

.home-intro.intro-container .intro-title-container #ajaxsearchlite1 .promagnifier {
	width: 2.9rem;
}

div[id*='ajaxsearchlite'] .probox .promagnifier .innericon {
	position: relative;

	@nest &::before {
		position: absolute;
		content: 'search';
		left: 0;
		top: .35rem;
		color: var(--WhiteColor);
	}

	@nest & svg {
		display: none !important;
	}
}

/*-------------------------------------------------------------------
    ELEMENTS
-------------------------------------------------------------------*/

/*-----------------------------------------
      NAVIGATION
-----------------------------------------*/

nav {
	@nest & ul {
		margin: 0;
		padding: 0;

		@nest & li {
			background-image: none;
			display: inline-block;
			margin: 0;
			padding: 0;

			@nest & a {
				font-family: 'Poppins', sans-serif;
				color: var(--LGreyColor);
				font-size: .875rem;
				display: block;
				text-decoration: none;
				padding: .5rem 1rem;
				border-bottom: 1px solid var(--GreyColor);

				@nest &:hover,
				&:focus {
					color: var(--PrimaryColor);
				}
			}
		}
	}

	@nest &.nav--vertical {
		@nest & li {
			display: block;
		}
	}

	@nest &.nav--primary {
		@nest & ul li a {
			color: var(--LGreyColor);
			margin-right: 1rem;
			border: none;
			line-height: 100px;

			@nest &:hover,
			&:focus {
				color: var(--PrimaryColor);
			}
		}

		@nest & li.current-menu-item a,
		& li.current_page_parent a {
			color: var(--PrimaryColor);
		}
	}

	@nest &.nav--secondary {
		padding: 2rem 0 0 0;
		margin-bottom: -1rem !important;

		@nest .page-template-template-styleguide & {
			padding: 0;
			margin-bottom: 0;
			width: 100%;
		}

		@nest & {
			width: 50%;
		}

		@nest & ul {
			font-size: 0;

			@nest & li a {
				color: var(--BlackColor);
				border: none;
				text-transform: uppercase;
				font-weight: 900;

				@nest &:hover,
				&:focus {
					color: var(--SecondaryColor);
				}
			}
		}
	}
}

.primary-nav {
	z-index: 100000;
	justify-content: space-between;

	@nest & svg {
		width: 2.25rem;
		height: 2.25rem;
		fill: var(--PrimaryColor);
		margin-top: .5rem;
	}

	@nest & img#nav-logo {
		display: inline-block;
		vertical-align: top;
		left: 50%;
		margin: .25rem 0 .25rem -50px;
		position: absolute;
		height: 100px;
		opacity: 1;
	}

	@nest & img#nav-logo-sm {
		display: inline-block;
		position: relative;
		top: -.7rem;
		left: 50%;
		margin-left: -50px;
		position: absolute;
		height: 100px;
		opacity: 0;
	}

	@nest & #search-cta {
		cursor: pointer;
		height: 1rem;
		-moz-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
		filter: FlipH;
		-ms-filter: "FlipH";
	}

	@nest & #menu-item-399 {
		cursor: pointer;

		@nest & a {
			pointer-events: none;
		}

		@nest &.active a {
			position: relative;

			@nest &>svg {
				opacity: 0
			}

			@nest &::after {
				content: '';
				position: absolute;
				height: 1rem;
				width: 1rem;
				top: 50%;
				margin-top: -.5rem;
				left: 50%;
				margin-left: -.5rem;
				background-image: url(../images/icon-close.svg);
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
			}
		}
	}

	@nest .is_stuck & {
		@nest & img#nav-logo {
			opacity: 0;
		}

		@nest & img#nav-logo-sm {
			opacity: 1;
		}

		@nest & nav a {
			line-height: 65px
		}
	}
}

.anchor {
	position: absolute;
	top: -120px;
}

.utility-primary {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;

	@nest &.mobile {
		display: none;
	}
}

.header-container {
	position: relative;
	z-index: 10000;
}

.utility-nav {
	justify-content: space-between;
	padding: .5rem 2rem;

	&>div .btn:first-child {
		background-color: var(--PrimaryColor);
		border-color: var(--PrimaryColor);
		color: var(--BlackColor);
		margin-right: 1em;

		&:hover,
		&:focus {
			background-color: var(--SecondaryColor);
			border-color: var(--SecondaryColor);
		}
	}

	& #mobile-search {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	@nest & .btn {
		padding: .35rem 1.5rem .25rem 1.5rem;
		margin: 0;
		font-size: .85rem;
		font-weight: bold;

		@nest &:first-child {
			background-color: var(--BlackColor);
			border-color: var(--BlackColor);
			color: var(--PrimaryColor);

			@nest &:hover,
			&:focus {
				background-color: var(--PrimaryColor);
				border-color: var(--PrimaryColor);
				color: var(--BlackColor);
			}
		}

		@nest &:last-child {
			text-transform: uppercase;
		}

		@nest & svg {
			display: inline-block;
			width: 1rem;
			height: 1rem;
			vertical-align: middle;
			margin-right: .5rem;
		}
	}
}

.search-container {
	text-align: center;
	background-color: var(--SecondaryColor);
	overflow: hidden;
	max-height: 0;
	position: absolute;

	@nest &.active {
		max-height: 75px;
	}

	@nest & form {
		padding: 1rem 0;

		@nest & input[type="text"] {
			background: color(var(--BlackColor) alpha(40%));
			color: var(--WhiteColor);
			width: 500px;
			padding: .5rem .75rem !important;
			font-family: 'Lato', sans-serif !important;
			font-weight: 700 !important;
			letter-spacing: 1px;
		}

		@nest & input[type="submit"] {
			padding: .5em 3em !important;
			border-radius: 50px !important;
			margin: 0;
			cursor: pointer;
			font-family: 'Lato', sans-serif !important;
			font-weight: 700 !important;
		}

		@nest & ::-webkit-input-placeholder {
			color: var(--WhiteColor);
			font-family: 'Lato', sans-serif;
			font-weight: 700;
			letter-spacing: 1px;
		}

		@nest & ::-moz-placeholder {
			color: var(--WhiteColor);
			font-family: 'Lato', sans-serif;
			font-weight: 700;
			letter-spacing: 1px;
		}

		@nest & :-ms-input-placeholder {
			color: var(--WhiteColor);
			font-family: 'Lato', sans-serif;
			font-weight: 700;
			letter-spacing: 1px;
		}

		@nest & :-moz-placeholder {
			color: var(--WhiteColor);
			font-family: 'Lato', sans-serif;
			font-weight: 700;
			letter-spacing: 1px;
		}
	}

	@nest .is_stuck & {
		top: 75px !important;
	}
}

.hamburger {
	padding: 15px 15px;
	display: inline-block;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible;
	outline: none;
}

.hamburger:hover {
	opacity: 0.7;
}

.hamburger-box {
	width: 40px;
	height: 24px;
	display: inline-block;
	position: relative;
}

.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
	width: 40px;
	height: 4px;
	background-color: var(--PrimaryColor);
	border-radius: 4px;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
	content: "";
	display: block;
}

.hamburger-inner::before {
	top: -10px;
}

.hamburger-inner::after {
	bottom: -10px;
}

.hamburger--collapse .hamburger-inner {
	top: auto;
	bottom: 0;
	transition-duration: 0.13s;
	transition-delay: 0.13s;
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse .hamburger-inner::after {
	top: -20px;
	transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger--collapse .hamburger-inner::before {
	transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
	transform: translate3d(0, -10px, 0) rotate(-45deg);
	transition-delay: 0.22s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse.is-active .hamburger-inner::after {
	top: 0;
	opacity: 0;
	transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburger--collapse.is-active .hamburger-inner::before {
	top: 0;
	transform: rotate(-90deg);
	transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*-----------------------------------------
      FOOTER
-----------------------------------------*/

footer#footer {
	@nest &>.block--flex {
		justify-content: space-between;
		padding: 2em 0;
	}

	@nest & img {
		height: 75px;
	}

	@nest & nav a {
		border: none;
		line-height: 20px;
		color: var(--LGreyColor);
		font-family: 'Poppins', sans-serif;
		font-size: .875rem;
	}

	& nav ul {
		text-align: right;
	}

	@nest & .copyright {
		padding: .5rem 0;
		background-color: #2b2b2b;

		@nest &>.block--flex {
			justify-content: space-between;
		}

		@nest & p {
			margin: 0 4px 0 0;
			display: inline-block;
		}
	}
}

/*-----------------------------------------
      PAGE TITLES
-----------------------------------------*/

.title-container {
	background-size: cover;
	background-position: center;
	min-height: 500px;

	@nest &.block--flex {
		align-items: center;
		justify-content: center;
		padding-top: 170px;
	}

	@nest & .pre-heading,
	& .post-heading {
		font-family: 'Poppins', sans-serif;
		font-weight: 700;
		line-height: 1.7;
		color: var(--WhiteColor);
		text-align: center;
		font-size: 1.625rem;
		margin: 0;
		line-height: 1;
		width: 100%;
	}

	@nest & h1,
	& .main-heading {
		font-family: 'Poppins', sans-serif;
		font-weight: 700;
		line-height: 1.7;
		color: var(--WhiteColor);
		text-align: center;
		font-size: 3.75rem;
		margin: 0;
		width: 100%;
	}

	& .btn {
		display: table;
		margin: 0 auto;
	}

	@nest &.title-container--full {
		height: calc(100vh - 35px);
		position: relative;

		@nest &>.block {
			position: relative;
			z-index: 1;
			text-align: center;
		}

		@nest &>.block--flex {
			align-items: center;
			height: 100%;
			padding: 170px 0 200px 0;

			@nest .page-template-template-construction & {
				padding: 170px 0 0 0;
			}
		}

		@nest & .pre-heading {
			color: var(--BlackColor);
			text-transform: uppercase;
			letter-spacing: 1px;
		}

		@nest & .post-heading {
			font-weight: 400;
			font-size: 1rem;
			font-family: 'Lato', sans-serif;
			font-weight: 700;
			line-height: 1.6;
			max-width: 600px;
			margin: 0 auto 3rem auto;

			@nest & a {
				color: var(--WhiteColor);
			}
		}

		@nest & h1,
		.main-heading {
			text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
			font-size: 4.5rem;
			line-height: 1.5;
		}

		@nest & form {
			max-width: 600px;

			@nest & .gfield_required {
				color: var(--WhiteColor) !important;
			}

			@nest & li {
				padding: 0 !important;
				width: 49% !important;
				margin-right: 2% !important;

				@nest &:last-child {
					margin-right: 0 !important;
				}
			}

			@nest & label {
				color: #fff;
				font-size: .875rem;
			}

			@nest & .gform_footer {
				margin: 0;
				text-align: center;
			}

			@nest & .btn {
				background: color(var(--SecondaryColor) alpha(40%));
				border: 3px solid var(--HighlightColor);
				border-radius: 50px;
				color: var(--WhiteColor);
				padding: .75em 3em;
				text-decoration: none;
				text-transform: lowercase;
				margin: 0 .5rem 1rem 0;
				display: inline-block;
				font-family: 'Poppins', sans-serif;
				font-weight: 600;
				outline: none;

				@nest &:hover,
				&:focus {
					background-color: var(--SecondaryColor);
					border-color: var(--HighlightColor);
				}
			}
		}

		@nest & .gform_confirmation_message {
			text-align: center;
			color: white;
			margin: 3rem auto;
			font-size: 2rem;
			text-shadow: 0 2px 5px rgba(0, 0, 0, .2);
		}
	}
}

/*-----------------------------------------
      PAGE INTROS
-----------------------------------------*/

.intro-container {
	margin: 3rem auto 7rem auto !important;

	@nest &.single {
		margin: 3rem auto !important;
		max-width: 800px;
	}

	@nest & .block--half-full {
		position: relative;
		justify-content: center;
		padding: 2rem;
		min-height: 300px;
	}

	@nest & .intro-title-container {
		padding: 3rem;

		@nest & svg {
			height: 1.75rem;
		}

		@nest & h1 {
			font-size: 2em;
			color: var(--PrimaryColor);
			position: relative;
			letter-spacing: 1px;
			margin-bottom: 2rem;

			@nest &::after {
				position: absolute;
				content: '';
				height: 2px;
				width: 175px;
				bottom: -.5rem;
				left: 0;
				background-image: linear-gradient(90deg, var(--HighlightColor) 0%, transparent 100%);
			}
		}
	}

	@nest & .intro-contents-container {
		position: relative;
		top: 4rem;
		background-size: cover;
		background-position: center;
		z-index: 0;

		@nest & .contents {
			position: relative;
			z-index: 2;
			background: transparent;
			height: 100%;
			align-items: center;

			@nest & h2 {
				margin: 1.25rem 0 0 0;
				letter-spacing: 1px;
				color: var(--WhiteColor);

				@nest &:first-of-type {
					margin: 0;
				}
			}

			@nest & p {
				margin: 0 0 .25rem 0;
				color: var(--WhiteColor);

				@nest & a {
					color: var(--WhiteColor);
				}
			}

			@nest & .btn {
				margin: 0;
				border: none;
				color: var(--BlackColor);
				font-weight: 700;
				text-transform: uppercase;
				background: transparent;
				padding: 0;
				position: relative;

				@nest &::after {
					position: absolute;
					content: '';
					width: 1.25rem;
					height: .75rem;
					right: -1.5rem;
					top: .25rem;
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
					background-image: url('../images/icon-arrow-green.svg');
					transition: all .25s ease-in-out;
				}

				@nest &:hover::after {
					right: -2rem;
				}
			}
		}

		@nest & .overlay.overlay--gradient {
			z-index: 1;
		}
	}
}

/*-----------------------------------------
      CARDS
-----------------------------------------*/

.cards-container {
	justify-content: center;
	padding: 3rem 0;

	@nest &>h2 {
		width: 100%;
		text-align: center;
	}

	@nest & .card {
		padding: 2rem 2rem 7rem 2rem;
		text-decoration: none;
		position: relative;

		@nest &.card--basic img {
			max-width: 45px;
			max-height: 45px;
			margin-bottom: 2rem;
		}

		@nest &.card--full img {
			max-width: 75px;
			max-height: 75px;
			margin-bottom: 2rem;
		}

		@nest & h2 {
			margin: 0 0 .75rem 0;
			line-height: 1.2;
		}

		@nest & p {
			margin-bottom: 3rem;
		}

		@nest & .btn {
			margin-top: 1rem;
			position: absolute;
			bottom: 2rem;
		}

		@nest &:hover,
		&:focus {
			@nest & .btn {
				background-color: var(--SecondaryColor);
				border-color: var(--HighlightColor);
			}
		}
	}
}

/*-----------------------------------------
      SLIDERS
-----------------------------------------*/

.slick-track {
	transition: none;
}

/*fix infinite animation*/

.slick-slider .slick-slide {
	padding: .5rem;
	outline: none;

	@nest & img {
		max-width: 100%;
		height: auto;
	}
}

.logo-slider-container {
	background-color: var(--TertiaryColor);
	padding: 3rem 0;

	@nest &>img {
		width: 50px;
		height: 50px;
		margin: 0 auto;
		display: block;
	}

	@nest & h2 {
		text-align: center;
		position: relative;
		margin: 0 0 2rem 0;
		color: var(--BlackColor);
		text-transform: uppercase;
		font-size: 1.625rem;

		@nest &::after {
			position: absolute;
			content: '';
			height: 2px;
			width: 175px;
			bottom: -.5rem;
			left: 50%;
			margin-left: -88px;
			background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 18%, rgba(255, 255, 255, 0) 100%);
			background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 18%, rgba(255, 255, 255, 0) 100%);
			background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 18%, rgba(255, 255, 255, 0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
		}
	}
}

/*-----------------------------------------
      PAGE CLOSING
-----------------------------------------*/

.closing-container {
	background-size: cover;
	background-position: center right;
	padding: 7rem 0 0 0;
	overflow: hidden;

	@nest & .block--flex.block--max {
		justify-content: flex-end;
	}

	@nest & .closing-question {
		padding: 2rem;
		width: 80%;
		max-width: 500px;

		@nest & img {
			max-width: 75px;
			max-height: 75px;
			margin-bottom: 2rem;
		}

		@nest & h2 {
			margin: 0;
		}

		@nest & p {
			margin-bottom: 3rem;
		}
	}
}

/*-----------------------------------------
      PREVIEW STAFF
-----------------------------------------*/

.basic-staff .preview-staff .intro {
	background-size: auto 100%;
}

.basic-staff .preview-staff:hover .intro,
.basic-staff .preview-staff:focus .intro {
	background-size: auto 110%;
}

.basic-staff .preview-staff .intro .contents p.location {
	position: initial;
	margin: .75rem 0 0 0;
	text-align: left;
}

.preview-staff {
	text-decoration: none;
	display: block;
	margin-bottom: 3rem;

	@nest & .intro {
		background-color: transparent;
		min-height: 350px;
		padding: 2rem;
		position: relative;
		background-size: 100% auto;
		background-position: center;
		background-repeat: no-repeat;
		transition: all .5s ease-in-out;

		@nest & .contents {
			position: absolute;
			bottom: 2rem;
			z-index: 1;
			width: calc(100% - 4rem);

			@nest & h2 {
				line-height: 1;
				margin: 0;
				color: var(--WhiteColor);
			}

			@nest & p {
				margin: .25rem 0 0 0;
				color: var(--WhiteColor);
			}

			@nest & p.location {
				text-transform: uppercase;
				text-align: right;
				position: relative;
				top: -1.7em;
				margin-bottom: -1.6em;

				@nest & svg {
					max-height: 1em;
					max-width: 1em;
					display: inline-block;
					position: relative;
					top: 2px;
					margin-right: .25em;
				}
			}
		}
	}

	@nest & .bio {
		@nest & p {
			margin-top: 1rem;
		}

		@nest & .preview-link {
			margin: 0;
			text-decoration: none;
			text-transform: uppercase;
			color: var(--SecondaryColor);
			font-family: 'Poppins', sans-serif;
			font-weight: 700;

			@nest & svg {
				display: inline-block;
				width: .55rem;
				margin: 0 0 0 .35rem;
			}
		}
	}

	@nest &:hover,
	&:focus {
		@nest & .intro {
			background-size: 110% auto;
		}

		@nest & .bio .preview-link svg {
			margin: 0 0 0 1rem;
		}
	}
}

/*-----------------------------------------
      PREVIEW POST
-----------------------------------------*/

.preview-post {
	margin-bottom: 1rem;
	text-decoration: none;
	min-height: 350px;

	@nest &.preview-staff,
	&.preview-staff:hover,
	&.preview-staff:focus {
		@nest & .image {
			background-size: cover;
		}
	}

	@nest &:nth-child(even) {
		@nest & .image {
			order: 2;
		}
	}

	@nest & a {
		text-decoration: none
	}

	@nest & .image {
		background-size: auto 107%;
		background-position: center;
		background-repeat: no-repeat;

		@nest &:hover,
		&:focus {
			background-size: auto 110%;
		}
	}

	@nest & .contents {
		padding: 1rem 2rem;

		@nest & .meta {
			color: var(--WhiteColor);
			justify-content: space-between;

			@nest & .date,
			& .categories,
			& .categories a {
				display: inline-block;
				font-size: .875rem;
				color: var(--LGreyColor);
				font-family: 'Poppins', sans-serif;

				@nest & .label {
					display: inline-block;
					padding: 0 1rem 0 0;
					position: relative;
					font-size: .875rem;

					@nest &:hover,
					&:focus {
						color: var(--HighlightColor);
					}

					@nest &::after {
						position: absolute;
						content: '';
						width: .35rem;
						height: .35rem;
						background-color: var(--PrimaryColor);
						border-radius: 50%;
						top: 50%;
						margin-top: -.2rem;
						right: .2rem;
					}

					@nest &:last-child {
						padding: 0;

						@nest &::after {
							display: none;
						}
					}
				}
			}
		}

		@nest & h1 {
			font-size: 2em;
			color: var(--PrimaryColor);
			letter-spacing: 1px;

			@nest &:hover,
			&:focus {
				text-decoration: underline;
			}
		}

		@nest & .btn {

			@nest &:hover,
			&:focus {
				background-color: var(--PrimaryColor);
				border-color: var(--HighlightColor);
			}
		}
	}
}

/*-------------------------------------------------------------------
    PAGE LAYOUTS / PAGE TEMPLATES
-------------------------------------------------------------------*/

.article-contain.block.block--max {
	max-width: 800px;

	& img {
		max-width: 100%;
		height: auto;

		&.alignright {
			margin-top: 1em;
			margin-right: 0;
			margin-bottom: 1em;
			margin-left: 1em;
		}

		&.alignleft {
			margin-top: 1em;
			margin-right: 1em;
			margin-bottom: 1em;
			margin-left: 0;
		}
	}
}

.sidebar {
	width: 250px;
	margin: 0 0 0 50px;

	@nest &#styleguide-sidebar {
		height: 375px;
	}

	@nest &.sidebar--left {
		margin: 0 50px 0 0;
	}
}

.page--sidebar {
	width: calc(100% - 300px);
}

.default-contents {
	margin-bottom: 3rem !important;
	max-width: 800px !important;

	@nest & img.alignleft {
		float: left;
		margin: 0 1.5rem .75rem 0;
	}

	@nest & img.alignright {
		float: right;
		margin: 0 0 .75rem 1.5rem;
	}

	@nest & img.aligncenter {
		display: block;
		margin: 1.5rem auto;
	}
}

/*-----------------------------------------
    HOME 
-----------------------------------------*/

.page-template-template-home .title-container.title-container--full {
	min-height: 800px;
	overflow: hidden;

	@nest & .overlay.overlay--image {
		z-index: -1;
		transform: scale(1.2);
		animation-name: KenBurns;
		animation-duration: 3s;
		animation-iteration-count: 1;
	}
}

@keyframes KenBurns {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.2);
	}
}

.home-intro.intro-container {
	margin-top: -8rem !important;
	margin-bottom: 11rem !important;
	position: relative;
	z-index: 0;

	@nest & .block--half-full {
		position: relative;
		z-index: 2;
	}

	@nest & .intro-title-container {
		@nest & #ajaxsearchlite1 {
			background: transparent;
			margin-bottom: .5rem;

			@nest & .probox {
				background: var(--BlackColor);
				border: 2px solid rgba(219, 219, 219, .5);
				border-radius: 50px;
			}

			@nest & .proinput {
				background: transparent;
				width: 100%;
				font-family: 'Lato', sans-serif;
				font-weight: 700;
				margin: 0;
				padding-left: 1rem;
			}

			@nest & .promagnifier {
				position: absolute;
				padding: 0 1rem;
				top: 0;
				margin: 0;
				right: 0;
				border: 2px solid #C5E300;
				border-radius: 50px;
				background: rgba(36, 206, 95, .4);

				@nest &:focus,
				&:hover {
					background-color: var(--SecondaryColor);
				}
			}

			@nest & .proloading {
				margin-right: 1rem;
			}

			@nest & .proclose {
				position: absolute;
			}
		}
	}

	@nest & .intro-contents-container {
		top: 11rem;

		@nest & h2 {
			width: 100%;
		}
	}

	@nest & .scroll-noteification {
		position: absolute;
		background: var(--WhiteColor);
		width: 2px;
		height: 400px;
		left: 50%;
		margin-left: -1px;
		top: -3rem;

		@nest &::before {
			position: absolute;
			content: 'scroll';
			top: -1.5em;
			width: 100px;
			color: var(--WhiteColor);
			text-align: center;
			margin-left: -50px;
		}
	}
}

.fixed-content-parent {
	position: relative;
	padding-top: 3rem;
	z-index: 1;
}

.rehab-stats {
	width: 300px;
	padding: 2rem;
	position: absolute;
	z-index: 4;
	top: 0;
	transition: none;

	@nest & h3 {
		color: var(--PrimaryColor);
		line-height: 1.3
	}

	@nest & p {
		font-size: .875rem;
	}

	@nest & p.stat-num {
		margin: 0 0 .5rem 0;
		color: var(--HighlightColor);
		font-weight: 300;
		font-size: 3rem;
		text-align: center;
		line-height: 1;
	}

	@nest & hr {
		margin: 1.5rem auto;
		width: 90%;
		background-color: #888888;
		height: 1px;

		@nest &:last-of-type {
			display: none;
		}
	}

	@nest & .btn {
		display: table;
		margin: 1.5rem auto 0 auto;
	}
}

.home-cta-container {
	overflow: visible;
	position: relative;
	padding: 9rem 0 0 0;

	@nest &.z-drop {
		z-index: -1;
	}

	@nest &>.block--max {
		position: relative;
	}

	@nest &>.block--flex {
		overflow: hidden;
	}

	@nest & p {
		margin-bottom: 0 !important;
	}

	@nest & .closing-question {
		position: relative;
		z-index: 1;
		padding: 3rem;
		text-decoration: none;

		@nest & .btn {
			margin: 1rem 0 3rem 0;
			border: none;
			color: var(--BlackColor);
			font-weight: 700;
			text-transform: uppercase;
			background: transparent;
			padding: 0;
			position: relative;

			@nest &::after {
				position: absolute;
				content: '';
				width: 1.25rem;
				height: .75rem;
				right: -1.5rem;
				top: .25rem;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				background-image: url('../images/icon-arrow-green.svg');
				transition: all .25s ease-in-out;
			}

			@nest &:hover::after {
				right: -2rem;
			}
		}
	}

	@nest & a.closing-cta {
		position: absolute;
		bottom: -4em;
		right: 500px;
		line-height: 4em;
		padding: 0 3rem;
		background: var(--PrimaryColor);
		color: var(--BlackColor);
		text-transform: uppercase;
		text-align: center;
		text-decoration: none;
		font-weight: 700;
		font-family: 'Poppins', sans-serif;

		@nest & svg {
			margin-left: 1rem;
		}

		@nest &:hover,
		&:focus {
			background-color: var(--SecondaryColor);
		}
	}
}

/*-----------------------------------------
    WHY CHOOSE US
-----------------------------------------*/

.reasons-title {
	max-height: 375px;
	transition: none;

	@nest &.is_stuck {
		height: 375px;
	}
}

.single-reason {
	margin-bottom: 5rem;

	@nest & .counter {
		color: var(--HighlightColor);
		font-size: 4.5rem;
		font-weight: 400;
	}

	@nest & h2 {
		margin-top: 0;
	}
}

.reasons-intro .overlay {
	bottom: auto;
	min-height: 375px;
	transition: none;
	background-size: cover;
	background-position: center;

	@nest &.is_stuck {
		left: 50%;
	}

	@nest &.bottom {
		left: 0;
	}
}

.reasons-intro {
	transition: none;
}

/*
IE & Edge do not support clip path so
we made the effect to appear to happen
by changing text color to the samme as
page background color.
*/

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
	.single-reason .counter {
		color: var(--WhiteColor);
	}
}

@supports (-ms-ime-align:auto) {
	.single-reason .counter {
		color: var(--WhiteColor);
	}
}

/*-----------------------------------------
    MAKE AN APPOINTMENT
-----------------------------------------*/

.page-id-446 .default-contents {
	max-width: 850px;
}

/*-----------------------------------------
    CONTACT US
-----------------------------------------*/

.page-id-449 .default-contents {
	max-width: 1024px !important;
}

.page-id-449 .default-contents h2 {
	width: 100%;
}

.single-location-preview {
	padding: 1.25rem 1rem;
	border-bottom: 2px solid #eee;

	@nest & h3 {
		margin: 0;
	}

	@nest & p,
	& a {
		font-size: .875rem;
		margin: 0;
	}

	& a.btn {
		margin: 1em 0;
		border: 0;
		color: #000;
		font-weight: 700;
		text-transform: uppercase;
		background: transparent;
		padding: 0;
		position: relative;

		&::after {
			position: absolute;
			content: '';
			width: 1.25rem;
			height: .75rem;
			right: -1.5rem;
			top: .25rem;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url('../images/icon-arrow-green.svg');
			transition: all .25s ease-in-out;
		}

		&:hover,
		&:focus {
			background: transparent;

			&::after {
				right: -32px;
				right: -2rem;
			}
		}
	}
}

/*-----------------------------------------
    FAQ
-----------------------------------------*/

.page-id-451 .intro-container.single h2,
.page-id-451 .default-contents h2 {
	line-height: 1.3;
	margin: 3rem 0 .25rem 0;
}

/*-----------------------------------------
    STAFF
-----------------------------------------*/

.location-filter {
	@nest & form {
		padding: 2.5rem 0 0;
	}

	@nest & label {
		display: block;
		margin: 0 0 .5rem 0;
	}

	@nest & select {
		width: 100%;
	}
}

.special-staff {
	margin: 3rem auto !important;
	max-width: 1200px !important;

	@nest &>.block {
		padding: 0 0 3rem 0;
		position: relative;
	}

	@nest &>.block:last-child>.block--half:first-of-type {
		order: 2;
	}
}

.staff-title {
	padding: 3rem;
	max-height: 350px;
	height: 350px;
	transition: none;

	@nest & h1 {
		font-size: 2em;
		color: var(--PrimaryColor);
		position: relative;

		@nest &::after {
			position: absolute;
			content: '';
			height: 2px;
			width: 175px;
			bottom: -.5rem;
			left: 0;
			background-image: linear-gradient(90deg, var(--HighlightColor) 0%, transparent 100%);
		}
	}
}

.basic-staff {
	padding: 3rem 0;
	position: relative;

	@nest & h1 {
		font-size: 2em;
		color: var(--PrimaryColor);
		position: relative;
		display: table;
		margin: 0 auto 3rem auto;

		@nest &::after {
			position: absolute;
			content: '';
			height: 2px;
			width: 175px;
			bottom: -.5rem;
			left: 0;
			background-image: linear-gradient(90deg, var(--HighlightColor) 0%, transparent 100%);
		}
	}

	@nest &>.block>h2 {
		text-align: center;
		width: 100%;
	}
}

/*-----------------------------------------
    SINGLE STAFF
-----------------------------------------*/

.single-staff {
	@nest & .intro-container {
		@nest & .intro-title-container .job_title {
			margin-bottom: 2rem;

			@nest & span {
				border-left: 1px solid var(--WhiteColor);
				padding: 0 0 0 .5em;
				margin: 0 0 0 .5em;
				text-transform: uppercase;

				@nest & svg {
					max-height: 1em;
					max-width: 1em;
					display: inline-block;
					position: relative;
					top: 2px;
					margin-right: .25em;
				}
			}
		}

		@nest & .intro-contents-container {
			background-size: cover;
			background-position: center left;
			background-repeat: no-repeat;
			min-height: 400px;

			@nest & .overlay--gradient {
				display: none;
			}
		}
	}
}

/*-----------------------------------------
    BLOG / ARCHIEVE / CATEGORIES
-----------------------------------------*/

.blog-title {
	position: relative;

	@nest &>.block {
		position: relative;
		z-index: 1;

		@nest & p {
			text-align: center;
			color: white;
			max-width: 850px;
			margin: 1rem auto;
			line-height: 1.2;

			@nest &.main-heading {
				font-size: 2.25rem;
			}

			@nest &:first-child {
				font-family: 'Poppins', sans-serif;
				font-weight: 400;
			}
		}

		@nest & .btn {
			display: table;
			margin: 3rem auto 1rem;
		}
	}
}

.blog-cats .nav--secondary {
	padding: 3rem 0;
	margin: 0;
	width: 100%;

	@nest & ul {
		text-align: center;

		@nest & li.current-cat {
			color: var(--SecondaryColor);
		}
	}
}

button.alm-load-more-btn {
	border: 3px solid var(--HighlightColor);
	border-radius: 50px;
	text-decoration: none;
	text-transform: lowercase;
	margin: 0 .5rem 1rem 0;
	display: inline-block;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	outline: none;
	background: var(--PrimaryColor) !important;
	border-color: var(--PrimaryColor);
	color: var(--BlackColor);
	transition: all .25s ease-in-out;

	@nest &:hover,
	&:focus {
		background-color: var(--SecondaryColor) !important;
		border-color: var(--SecondaryColor) !important;
	}
}

/*-----------------------------------------
    SINGLE POST
-----------------------------------------*/

.intro-container {
	@nest & .date {
		border-right: 2px solid var(--LGreyColor);
		padding-right: .5rem;
		margin-right: .5rem;
	}

	@nest & .date,
	& .categories,
	& .categories a {
		display: inline-block;
		font-size: .875rem;
		color: var(--LGreyColor);
		font-family: 'Poppins', sans-serif;

		@nest & .label {
			display: inline-block;
			padding: 0 1rem 0 0;
			position: relative;
			font-size: .875rem;

			@nest &:hover,
			&:focus {
				color: var(--HighlightColor);
			}

			@nest &::after {
				position: absolute;
				content: '';
				width: .35rem;
				height: .35rem;
				background-color: var(--PrimaryColor);
				border-radius: 50%;
				top: 50%;
				margin-top: -.2rem;
				right: .2rem;
			}

			@nest &:last-child {
				padding: 0;

				@nest &::after {
					display: none;
				}
			}
		}
	}

	@nest & .categories a {
		text-decoration: none;

		@nest &:hover,
		&:focus {
			color: var(--HighlightColor);
		}
	}
}

.sharedaddy li {
	padding: 0;
	background-image: none;
	margin: 0;
}

.sd-social-icon .sd-content ul li a.sd-button {
	background-color: #24ce5f !important;
	position: relative !important;
	width: 25px !important;
	height: 25px !important;
}

.sd-social-icon .sd-content ul li a.sd-button:before {
	content: '' !important;
	position: absolute;
	width: 60%;
	height: 60%;
	top: 20% !important;
	left: 20%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.sd-content ul li.share-facebook div.option.option-smart-off a:before,
.sd-social-icon .sd-content ul li.share-facebook a:before,
.sd-social-icon-text .sd-content li.share-facebook a:before,
.sd-social-text .sd-content ul li.share-facebook a:before {
	background-image: url(../images/facebook@3x.svg);
}

.sd-content ul li.share-twitter div.option.option-smart-off a:before,
.sd-social-icon .sd-content ul li.share-twitter a:before,
.sd-social-icon-text .sd-content li.share-twitter a:before,
.sd-social-text .sd-content ul li.share-twitter a:before {
	background-image: url(../images/twitter@3x.svg);
}

.sd-content ul li.share-linkedin div.option.option-smart-off a:before,
.sd-social-icon .sd-content ul li.share-linkedin a:before,
.sd-social-icon-text .sd-content li.share-linkedin a:before,
.sd-social-text .sd-content ul li.share-linkedin a:before {
	background-image: url(../images/linkedin@3x.svg);
}

/*-----------------------------------------
    LANDING/CONSTRUCTION
-----------------------------------------*/

.landing-nav {
	height: 125px;
	padding: .5rem;
	margin-top: 2rem;
}

/*-----------------------------------------
    SEARCH RESULTS
-----------------------------------------*/

.search-results .intro-container .block--half-full {
	height: 300PX;
}

/*-----------------------------------------
    404 / ERROR PAGE
-----------------------------------------*/

.page--error {
	max-width: 600px;
	text-align: center;

	@nest & .main-heading {
		font-size: 15rem;
		line-height: 1;
	}

	@nest & .post-heading {
		margin: -2rem auto 1rem !important;
	}

	@nest & .search-container {
		background: transparent;
		position: initial;
		max-height: 100%;
	}

	@nest & form {
		margin: 0 auto;
	}

	@nest & form input.search-field {
		width: calc(100% - 145px);
	}
}

/*-----------------------------------------
    STYLEGUIDE
-----------------------------------------*/

.page-template-template-styleguide #nav-logo {
	position: relative !important;
	opacity: 1 !important;
}

.styleguide-section {
	position: relative;

	@nest &:last-child {
		margin-bottom: 5rem;
	}

	@nest &:first-child h2:nth-child(2) {
		margin-top: 25px;
	}

	@nest &>h2:nth-child(2) {
		margin-bottom: .5rem;
		margin-top: 100px;
	}

	@nest & h3.section--sub-title {
		margin: 50px 0 1rem 0;
		border-bottom: 1px solid var(--GreyColor);
	}

	@nest & .section--sub {
		position: relative;
	}

	@nest & .logo-primary {
		border: 1px solid var(--GreyColor);
		padding: 3rem;
		text-align: center;
		max-width: 100%;

		@nest & img {
			max-height: 300px;
		}
	}

	@nest & .logo-varient {
		border: 1px solid var(--GreyColor);
		padding: 1rem;

		@nest & .varient-image {
			min-height: 200px;

			@nest & img {
				max-height: 100%;
				max-width: 100%;
			}
		}
	}

	@nest & .color-swatch {
		height: 120px;
		border: 1px solid var(--GreyColor);
		border-bottom: 0px;
	}

	@nest & .color-swatch-details {
		border: 1px solid var(--GreyColor);
		padding: .25em;

		@nest & p {
			margin-bottom: .25em;

			@nest & b {
				color: var(--BlackColor);
			}
		}
	}

	@nest & .font-family {
		border: 1px solid var(--GreyColor);
		padding: 1rem;
		min-height: 120px;

		@nest & p {
			margin-bottom: .25em;
		}
	}

	@nest & .headline-option {
		padding: 1rem 1rem 1rem 1rem;
		border-top: 1px solid var(--GreyColor);

		@nest &.first {
			border: none;
		}

		@nest & h1,
		& h2,
		& h3,
		& h4,
		& h5,
		& h6,
		& p {
			margin: 0;
		}

		@nest & p.p--legal {
			margin-top: .35rem;
		}
	}

	@nest & .button-continer {
		padding: 1rem;
	}

	@nest & .icon-container {
		border: 1px solid var(--GreyColor);
		padding: 1rem;
		text-align: center;

		@nest & img {
			height: 75px;
			width: 75px;
		}
	}

	@nest & .imagery-container {
		border: 1px solid var(--GreyColor);
		text-align: center;
		margin-bottom: 1rem;

		@nest & img {
			max-width: 100%;
			max-height: 400px;
			vertical-align: top;
			;
		}
	}
}

/*-----------------------------------------
    IMAGE ALIGNMENT
-----------------------------------------*/

img.alignleft {
	float: left;
}

img.alignright {
	float: right;
}

/*-------------------------------------------------------------------
    RESPONSIVNESS BREAKING POINTS
-------------------------------------------------------------------*/

@media only screen and (max-width: 1200px) {
	footer#footer .copyright {
		padding: .5rem 1rem;
	}
}

@media only screen and (max-width: 1024px) {

	/*--NAVIGATION--*/
	nav ul li {
		margin: 0;
	}

	nav ul li a,
	nav.nav--primary ul li a {
		font-size: .8rem;
		padding: .5rem .6rem;
		margin: 0;
	}

	/*--OVERLAYS--*/
	.overlay.overlay--image {
		background-attachment: initial;
	}

	/*--SINGLE STAFF--*/
	.single-staff .intro-container .block--half-full {
		width: 100%;
	}

	.single-staff .intro-container .intro-title-container {
		order: 2
	}

	.single-staff .intro-container .intro-contents-container {
		top: 0;
		margin-bottom: 3rem;
		min-height: 500px;
	}

	/*--HOME--*/
	.home-cta-container a.closing-cta {
		right: 273px;
	}
}

@media only screen and (max-width: 800px) {

	/*--BASICS--*/
	h1,
	.widget h1 {
		font-size: 3.25rem;
	}

	h2,
	.widget h2 {
		font-size: 1.75em;
	}

	h3,
	.widget h3 {
		font-size: 1.125em;
	}

	h4,
	.widget h4 {
		font-size: 1.125em;
	}

	h5,
	.widget h5 {
		font-size: 1em;
	}

	h6,
	.widget h6 {
		font-size: 1em;
	}

	/*--BLOCKS--*/
	.block.block--fourth {
		width: 48%;
	}

	.block.block--fourth-full {
		width: 50%;
	}

	/*--NAVIGATION--*/
	.utility-primary {
		display: none;

		@nest &.mobile {
			display: block;
		}

		@nest .page-template-template-construction & {
			display: block;
		}
	}

	.utility-nav {
		padding: .5rem;
		position: relative;
		z-index: 11000;

		@nest & .btn {
			padding: 0 1.25rem;

			@nest &:first-child {
				background-color: var(--PrimaryColor);
				border-color: var(--PrimaryColor);
				color: var(--BlackColor);

				@nest &:hover,
				&:focus {
					background-color: var(--SecondaryColor);
					border-color: var(--SecondaryColor);
					color: var(--BlackColor);
				}
			}
		}
	}

	.primary-nav {
		padding: 1rem;

		@nest & img#nav-logo,
		& img#nav-logo-sm {
			height: 75px;
			margin: 0 0 0 -37px;
			top: .45rem;
		}
	}

	.mobile-nav-container {
		@nest &.open>nav {
			bottom: 0;
		}

		@nest &>nav {
			background: var(--BlackColor);
			position: fixed;
			top: 0;
			right: 0;
			bottom: 100%;
			left: 0;
			overflow: hidden;
			justify-content: center;
			align-items: center;
			z-index: -1;

			@nest &>block {
				margin-top: 3rem;
			}

			@nest & li {
				width: 100%;
				text-align: center;

				@nest &.menu-item-399 {
					display: none;
				}

				@nest & a {
					line-height: 3 !important;
				}
			}
		}
	}

	.landing-nav {
		height: 90px;
	}

	/*--PAGE TITLES--*/
	.main-heading,
	.title-container.title-container--full h1 {
		font-size: 3rem;
		line-height: 1;
		margin: .25rem auto;
	}

	/*--PAGE INTRO--*/
	.intro-container .intro-title-container h1 {
		font-size: 1.75rem;
	}

	/*--PREVIEW POST--*/
	.preview-post .image {
		width: 40%;
	}

	.preview-post .contents {
		width: 60%;
	}

	/*--CARDS--*/
	.cards-container {
		justify-content: left;
	}

	.card.block--third,
	.card.block--fourth {
		width: 48%;
	}

	/*--FOOTER--*/
	footer#footer>.block--flex {
		justify-content: center;
	}

	footer#footer nav a {
		line-height: 25px;
	}

	footer#footer .copyright>.block {
		display: flex;
		justify-content: center;
	}

	/*--PAGE LAYOUTS--*/
	.sidebar {
		width: 100%;
		margin: 0;

		@nest &.sidebar--left {
			margin: 0;
		}
	}

	.page--sidebar {
		width: 100%;
	}

	.csColumn {
		text-align: left !important;
	}

	/*--HOME--*/
	.home-intro.intro-container .block--half-full {
		width: 100%;
	}

	.home-intro.intro-container .intro-contents-container {
		top: 3rem;
	}

	.rehab-stats {
		width: 250px;
	}

	.rehab-stats .btn {
		padding: 1rem 2.5rem;
	}

	.home-cta-container .closing-question {
		max-width: 450px;
	}

	.home-cta-container a.closing-cta {
		right: 0;
	}

	/*--REASONS--*/
	.reasons-title,
	.reasons-intro {
		width: 100% !important;
		min-height: 200px !important;
		clip-path: none !important;
	}

	.reasons-intro .overlay {
		height: 100%;
	}

	/*--STAFF--*/
	.special-staff>.block>.block--half {
		width: 100%;
	}
}

@media only screen and (max-width: 750px) {

	/* CONSTRUCTION PAGE */
	.page-template-template-construction .primary-nav img#nav-logo {
		height: 60px;
		margin: .25rem 0 .25rem -30px;
	}

	.page-template-template-construction .main-heading {
		font-size: 3rem;
	}

	/* PAGE TITLE */
	.landing-nav {
		height: 75px;
		padding: .25rem;
	}

	.title-container.title-container--full {
		height: auto;
	}

	/* PAGE INTRO */
	.title-container .post-heading,
	.title-container .pre-heading {
		font-size: 1.2rem;
		letter-spacing: 0;
	}

	.intro-container .block--half-full {
		min-height: 175px;
	}

	.intro-container .intro-contents-container {
		top: 2rem;
		background-image: url('https://motusheals.com/wp-content/uploads/2017/06/leaf-vertical-small.jpg') !important;
	}

	.intro-container .intro-contents-container .overlay.background {
		background-image: url('https://motusheals.com/wp-content/uploads/2017/06/leaf-vertical-small.jpg') !important;
	}

	/*--PREVIEW POST--*/
	.preview-post .contents h1 {
		font-size: 1.5rem;
	}

	.preview-post .image {
		height: 200px;
	}

	.preview-post:nth-child(even) .image {
		order: initial;
	}

	/*--PAGE LAYOUTS--*/
	.default-contents {

		@nest & img.alignright,
		& img.alignleft,
		& img.aligncenter {
			float: none;
			margin: .75rem auto;
		}

		@nest & ul,
		& ol {
			padding-left: 1rem;
		}
	}

	.intro-container .intro-title-container {

		@nest & img.alignright,
		& img.alignleft,
		& img.aligncenter {
			float: none;
			margin: .75rem auto;
		}

		@nest & ul,
		& ol {
			padding-left: 1rem;
		}
	}

	/*--HOME--*/
	.home-intro.intro-container {
		width: 100%;
		margin: 0 !important;
	}

	.home-intro.intro-container .intro-contents-container {
		top: 0;
	}

	.fixed-content-parent {
		padding-top: 0;
	}

	.fixed-content-parent .block--max {
		width: 100%;
	}

	.rehab-stats {
		width: 100%;
		position: inherit;
	}

	/*--APPOINTMENT--*/
	#gform_fields_3 {
		column-count: 1;
	}

	#field_3_8,
	#field_3_7 {
		width: 100%;
	}

	/*--STAFF--*/
	.staff-title {
		height: 200px;
		padding: 2rem;
	}

	.preview-staff {
		margin-bottom: 2.5rem;
	}

	.preview-staff .intro {
		min-height: 250px;
	}

	.preview-staff .intro .contents p.location {
		position: initial;
		text-align: left;
		margin-bottom: -1em;
	}

	/*--SINGLE STAFF--*/
	.single-staff .intro-container .intro-contents-container {
		min-height: 200px;
	}

	.single-staff .intro-container .intro-title-container .job_title span {
		display: block;
		margin: .5rem 0 0 0;
	}

	/*--Blog--*/
	.blog-cats {
		display: none !important;
	}

	.feed--archive {
		padding-top: 3rem;
	}

	/*--SEARCH--*/
	.search-results .intro-container .block--half-full {
		height: auto;
	}

	.search-container.active {
		max-height: 125px;
	}

	.search-container form input[type=text] {
		width: 100%;
		margin-bottom: 1rem;
	}
}

@media only screen and (max-width: 500px) {

	/*--BLOCKS--*/
	.block {
		width: 100%;

		@nest &.block--half {
			margin: 0 0 1rem 0;
			width: 100%;
		}

		@nest &.block--half-full {
			margin: 0;
			width: 100%;
		}

		@nest &.block--third {
			margin: 0 0 1rem 0;
			width: 100%;
		}

		@nest &.block--third-full {
			margin: 0;
			width: 100%;
		}

		@nest &.block--fourth {
			margin: 0 0 1rem 0;
			width: 100%;
		}

		@nest &.block--fourth-full {
			margin: 0;
			width: 100%;
		}
	}

	/*--PAGE INTRO--*/
	.intro-container .intro-title-container {
		padding: 2rem;
	}

	/*--PAGE QUESTION--*/
	.closing-container .closing-question {
		width: 100%;
	}

	/*--FOOTER--*/
	footer#footer nav li {
		width: 100%;
		text-align: center;
	}

	footer#footer .copyright>.block {
		flex-wrap: wrap;
		padding: .25rem 0;
	}

	footer#footer .copyright>.block p {
		width: 100%;
		text-align: center;
	}

	/* PAGE TITLE */
	.title-container.title-container--full form {
		margin: 3rem 0;

		@nest & li {
			width: 85% !important;
			margin: 0 auto !important;

			@nest &:last-child {
				margin: 0 auto !important;
			}
		}
	}
}


/*-----------------------------------------
    SINGLE LOCATION
-----------------------------------------*/
.single-location {
	& .intro-container {
		& .intro-title-container {
			padding: 0;
			display: contents;

			& p {
				margin: 0;
			}

			& iframe {
				max-width: 100%;
				max-height: 400px;
			}
		}

		& .contents {
			& h1 {
				color: white;
				font-size: 2em;
			}

			& a.btn {
				margin: .5em 0;
				border: 3px solid #000;
				padding: .1em 1.5em .1em 1em;

				&:after {
					top: 8px;
					right: 2px;
				}
			}

			& p {
				margin: 0 0 1em 0;
			}
		}
	}

	& .csColumn {

		& h1,
		& h2,
		& h3,
		& h4,
		& h5,
		& h6,
		& p {
			text-align: left;
		}
	}

	& .closing-question {
		& a.btn {
			padding: 1em;
		}
	}
}

/*-----------------------------------------
  GOOGLE MAP
-----------------------------------------*/
.acf-map {
	width: 100%;
	height: 400px;
	border: #ccc solid 1px;
	margin: 20px 0;

	& img {
		max-width: inherit !important;
	}
}

/*-----------------------------------------
  LOCATIONS PAGE
-----------------------------------------*/
.page-template-template-locations {

	& .default-contents {
		margin: 0 auto;
		padding: 0 1em;
		max-width: 1024px !important;

		& h5 {
			margin-bottom: 2em;
		}

		& .locations-container {
			display: flex;
			flex-wrap: wrap;

			&>div {
				width: calc(33% - 1em);
				border-bottom: 2px solid #eee;
				padding: 2em 2em 8em 2em;
				margin: .5em;
				background-color: var(--BlackColor);
				color: var(--WhiteColor);
				position: relative;

				&:hover,
				&:focus {
					background-color: #242424;
				}

				&>a:first-of-type {
					text-decoration: none;
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					left: 0;

					&:hover,
					&:focus {
						text-decoration: underline;
					}
				}

				& h2 {
					margin-top: 0;
					color: var(--WhiteColor);
				}

				& h3 {
					margin-top: 1rem;
					color: var(--PrimaryColor);
					font-size: 18px;
					text-transform: uppercase;
				}

				& address {
					font-style: normal;
					font-weight: 500;
					line-height: 1.5;
				}

				& ul {
					padding-left: 0;
					color: var(--WhiteColor);
					font-weight: 400;
				}

				& a.btn {
					position: absolute;
					bottom: 2em;
				}
			}
		}
	}

	& .closing-question {
		& .btn {
			color: var(--WhiteColor);
		}
	}
}

@media only screen and (max-width: 1024px) {
	.page-template-template-locations {
		& .default-contents {
			& .locations-container {
				&>div {
					width: calc(50% - 1em);
				}
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.page-template-template-locations {
		& .default-contents {
			& .locations-container {
				&>div {
					width: 100%;
				}
			}
		}
	}
}